.gitattributes merge=ours
.github/workflows/* merge=ours
mihomo/Makefile merge=ours
luci-app-mihomo/Makefile merge=ours
mihomo/files/mihomo.init merge=ours
mihomo/files/capabilities.json merge=ours
README.md merge=ours
install.sh merge=ours
luci-app-mihomo/htdocs/luci-static/resources/view/mihomo/config.js merge=ours
luci-app-mihomo/po/zh_Hans/mihomo.po merge=ours
luci-app-mihomo/root/usr/share/luci/menu.d/luci-app-mihomo.json merge=ours
